{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    {{- with site.Params.logo }}
    <img class="home-logo" src="{{ . | absURL }}" alt="Line drawing of a vintage desktop computer on a cluttered office desk" width="1408" height="768">
    {{- end }}
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content md-content">
        {{ $opts := dict "display" "block" }}
        {{ .Content | $.Page.RenderString $opts }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
